body{
    font-family: Helvetica;
    color:#DFDCDE;
    background-image:url('honeycomb_bw_2.jpg');
}}



header{
     margin:10px;
     background-color:#C8B1B9;
     height : 200px;
     }


#title-1{
    margin:8px;
     max-width : 1200px;
     height : 50px;
     }

#title-2{margin:10px;
    padding: 5px;
     background-color:#862372;
     max-width : 100% ;
     height : 50px;
     }

#user-controls {
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;">
    }

nav {
    display:inline-block;
    position:fixed;
    top:40px;
    right:10px;">
    }

#button{margin:15px;}

a:link{
    text-decoration:none;
    color:#DD68D3;
    }


a:hover{
    text-decoration:none;
    color:#DD68D3;
    }


.btn {
  color: blue;
  width: 200px;
  background-color: #A483A1;
  color: #DFDCDE;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  padding: 5px 0;
}

#contents{float:right;
    margin:80px;
    padding:10px;
    width:750px;}

main {margin:20px 150px;}

.img{float:left;}

li {
    
    list-style-type:none;
}

footer {
        bottom: 0;
        width: 100%;
        height: 40px;
    }

.overlay {
    width: 80%;
    max-width: 900px;
    max-height: 400px;
    height: 80%;
    position: absolute;
    top: 40%;
    left: 47%;
    margin-left: -25%;
    display: none;
    text-align: center;
}

.overlay .add_entry {
    margin-left: -9%;
}