<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='discription' content="Leaning Journal at CodeFellows"> 
    <title>Saki's Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- ADD THE FOLLOWING LINE ONLY -->
    <link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div id='title-1'>
            <a href ="{{ request.route_url('home') }}"><img src="static/nmr_2.png" class="img" width='100px' height='70px'></a>
            <h1>Saki's Learning Journal</h1>
            <aside id="user-controls">
        <ul>
        {% if not request.authenticated_userid %}
            <li><a href="{{ request.route_url('login') }}">log in</a></li>
        {% else %}
            <li><a href="{{ request.route_url('logout') }}">log out</a></li>
        {% endif %}
            </ul>
      </aside>
      </div>
      <div id='title-2'>
            <h2>A tunnel of a thousand miles begins with a single bite.</h2></div>
      </div>
    </header>

    <div id='sidebar'>

    </div>
    <main>
      <section id="content">
      {% block body %}{% endblock %}
      </section>
    </main>

    <footer>
      <p>2015 Saki Fu</p>
    </footer>
  </body>
</html>