{% extends "base.jinja2" %}
{% block body %}
<article class="detail">
    <h2 class="title">{{ entry.title }}</h2>
    <p>{{ add_markdown(entry.text) | safe }}</p>
    <span class="date">{{ entry.date.strftime('%b. %d, %Y') }}</span>
    <div class="edit-button">
        {% if request.authenticated_userid %}
        <a href ="{{request.route_url('edit', id=entry.id)}}">
        <button type="button">edit</button>
      </a>
        {% endif %}
    </div>
</article>
{% endblock %}
