{% extends "base.jinja2" %}
{% block body %}
{% if request.authenticated_userid %} 
{% endif %}

<a class="btn" href="{{ request.route_url('create') }}">New Entry</a>
<h2>Index</h2>
  {% for entry in entries %}
  <article class="entry" id="entry={{entry.id}}">
    <a href ="{{request.route_url('detail', id=entry.id)}}"><h3>{{ entry.title }}</h3></a>
    <p class="dateline">{{ entry.date.strftime('%b. %d, %Y') }}
    {% if request.authenticated_userid %}
      <a href ="{{request.route_url('edit', id=entry.id)}}">
        <button type="button">edit</button>
      </a>
    {% endif %}
  </article>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far</em></p>
  </div>
  {% endfor %}
{% endblock %}